<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true" strict="true" verbose="true">
    <testsuites>
        <testsuite name="SimpleI18n Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="tap" target="php://stdout" logIncompleteSkipped="true"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
